.preview{
  display: flex;
  flex-direction: row-reverse;
}

.question{
  display: flex;
  flex-direction:column;
}

.kanji_reading{
  font-size: 90px;
  font-weight: bold;
  line-height: 1em;
  display: grid;
  grid-template-columns: 95px 30px;
}

.kanji_writing{
  line-height: 1em;
  display: grid;
  grid-template-columns: 95px 30px;
}

.hiragana{
  font-size: 70px;
  text-align: center;
  writing-mode: vertical-lr;
}

.furigana{
  font-size: 20px;
  line-height: 1em;
  text-align: center;
  writing-mode: vertical-lr
}

.kanji_reading_brackets{
  display: grid;
  grid-template-rows: 20px auto 20px
}
.border{
  border: 1px solid black;
}
