
/* Fonts */
@font-face{
  font-family: hoshuko_kanji;
  font-style: normal;
  src: local("UD Digi Kyokasho NK-R")
}
@font-face {
    font-family: 'Kyokasho';
    src:local('UD Digi Kyokasho NK-R'),
        url('https://hoshuko-data.s3-us-west-2.amazonaws.com/fonts/UDDigiKyokashoNP-R.woff2') format('woff2'),
        url('https://hoshuko-data.s3-us-west-2.amazonaws.com/fonts/UDDigiKyokashoNP-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Page and containers */
.page{
  font-family: Kyokasho;
  display: flex;
  flex-direction: column-reverse;
  font-size: 35px;
  writing-mode: vertical-lr;
  --colwidth: 60px;
}

.preview-frame{
  border:none;
  height: 700px;
}
.preview{
  display: flex;
  flex-direction: column-reverse;
  font-size: 40px;
  writing-mode: vertical-lr;
  --colwidth: 70px;
  font-family: Kyokasho;
}

.preview_resize{
  display: block;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  margin-left: -40px;
  margin-top: -30px;
}
.preview .hiragana{
  padding-left: 7px;
  Xletter-spacing: 0.3em;
  display: grid;
  grid-template-rows: var(--colwidth) 30px;
}
.preview .kanji_reading{
  padding-left: 7px;
  letter-spacing: 0.3em;
}
.preview .kanji_reading_brackets{
    margin-left: -20px;
}

/* Question container */
.question{
  font-family: Kyokasho;
  display: flex;
  flex-direction: row;
  padding-left: 3px;
}

/* Reading part of a question */
.kanji_reading-60{
  font-weight: bold;
  display: grid;
  grid-template-rows: var(--colwidth) 30px;
}
.kanji_reading-60{
  font-weight: bold;
  display: grid;
  grid-template-rows: 50px 30px;
  margin-left: 5px;
}
.kanji_reading_brackets-60{
  display: grid;
  grid-template-columns: 20px auto 20px
}
.kanji_reading-90{
  font-weight: bold;
  display: grid;
  grid-template-rows: 50px 30px;
  margin-left: 18px;
}
.kanji_reading_brackets-90{
  display: grid;
  grid-template-columns: 20px auto 20px
}
.kanji-reading-spacer{
  height: 25px;
  float: left;
}

/* Writing part of a question */
.kanji_writing{
  display: grid;
  grid-template-rows: var(--colwidth) 30px;
}
.kanji_writing-90{
  display: grid;
  grid-template-rows: 90px 30px;
}
.kanji_box{
  text-align: center;
}
.furigana{
  font-size: 20px;
  line-height: 1em;
  text-align: center;
}


/* Combo question part (combining hiragana and kanji) */
.combo_question-60{
  line-height: 1em;
  display: grid;
  grid-template-rows: 70px 30px;
  white-space: nowrap;
}
.combo_question-90{
  line-height: 1em;
  display: grid;
  grid-template-rows: 85px 30px;
  white-space: nowrap;
}
.furigana-combo{
  font-size: 20px;
  line-height: 1em;
  text-align: center;
  display:table;
}

.furigana-combo-row{
  display:table-cell;
}


/* Bonus question specific formating */
.kanji_bonus{
  border-right: 1px black dashed;
  width: 50px;
  margin-left: 6px;
  font-size: 90%;
}


/* Standard part of the question */
.hiragana{
  font-size: 90%;
  text-align: center;
  display: grid;
  grid-template-rows: var(--colwidth) 30px;
  white-space: nowrap;
}

.hiragana-90{
  font-size: 90%;
  text-align: center;
  display: grid;
  grid-template-rows: 90px 25px;
  white-space: nowrap;
}
.hiragana-content{
  display: grid;
  grid-template-rows: auto 40px auto;
}

/* for gray letters */
.ghost {
  color: #DDDDDD
}

.header{
  writing-mode: tb;
}

.header_graphics{
  display: flex;
}

.header_frame{
  border: 3px black solid;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 400px auto;
  width: 27px;
  font-size: 20px;
  padding: 12px;
}

.header_score_box{
  border: 3px black solid;
  width: 75px;
  height: 75px;
  writing-mode: horizontal-tb;
  font-size: 50%;
  margin-top: 10px;
  padding: 5px;
}

.header-instructions{
  font-size: 20px;
  padding: 15px 10px 0px 20px;
  height: 570px;
}

.trcp_question{
  color: black;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px;
  width: 80px;
  border: 1px black solid
}
.trcp_char{
  border-top: 1px solid black;
  text-align: center;
  padding-left: 17px;
}

.trcp_empty{
  border-top: 1px solid black;
}


.kjwr_question{
  width: 100px;
  writing-mode: vertical-rl;
  padding-top: 10px;
  padding-right: 15px;
}
.kjwr_hiragana{
  font-size: 24px;
}
.kjwr_hiragana_hint{
  font-size: 24px;
  border-right: 1px black dashed;
}
.kjwr_boxes{
  display: flex;
  flex-direction: row;

}
.kjwr_empty{
  border: 1px solid black;
  height: 70px;
  width: 70px;
  margin-top: -1px;
}

.kjrd_layout{
  display: grid;
  grid-template-columns: 50% 50%;
  writing-mode: vertical-rl;
}
.kjrd_question{
  display: flex;
  flex-direction: row;
  width: 120px;
  writing-mode: vertical-lr;
  padding-top: 10px;
}
