{% extends "chrome.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">{{_('Add Lesson')}}新規作成</h1>
    <hr class="my-2">
    <p>{{_('This is where you can add lessons.  A lesson is a collection of worksheets.  Please use the format #-# for the naming')}}学期と単元名を入力してください。例）1学期　単元１．ふきのとう　の場合、1－1ふきのとう</p>
  </div>
  <form method="POST">
    <div class="column">
        {{form.hidden_tag()}}
        <div class="form-group">
          {{form.name.label}}
          {{form.name(class='form-control')}}
          {% if form.name.errors %}
            <ul class="errors">
              {% for error in form.name.errors %}
                <li class="alert alert-danger" style="margin: 3px">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{form.grade.label}}
          {{form.grade(class='form-control')}}
        </div>

      <div class="form-group">
        {{form.submit(class='btn btn-primary')}}
      </div>
    </div>
  </form>
</div>
{% endblock %}
