{% extends "chrome.html" %}

{% block content %}
<script >
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

}
</script>
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteLabel">{{_('Are you sure')}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{_('Deleting this lesson will delete the associated worksheets. Are you sure?')}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_("Don't Delete")}}</button>
        <a href="{{url_for('lessons.delete', id=lesson_id)}}" class="btn btn-danger">{{_('Delete')}}</a>
      </div>
    </div>
  </div>
</div>


<div class="container-sm">
  <div class="jumbotron">
    <h1 class="display-4">{{_('Edit Lesson')}}</h1>
    <hr class="my-2">
    {{_('Here you can edit the lesson information and edit the worksheets for the lesson.')}}
  </div>
  <br>
  <form method="POST">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          {{form.hidden_tag()}}
          <div class="form-group col-xl">
            {{form.name.label}} {{form.name(class='form-control')}}
            {% if form.name.errors %}
              <ul class="errors">
                {% for error in form.name.errors %}
                  <li class="alert alert-danger" style="margin: 3px">{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            {{form.grade.label}} {{form.grade(class='form-control')}}

          </div>
        </div>
        <div class="row">
          <div class='col'>
            {{form.submit(class='btn btn-primary')}}
            &nbsp;
            <a class='btn btn-success' href="{{url_for('lessons.duplicate',id=lesson_id)}}">{{_('Duplicate')}}</a>
          </div>
          <div class='col'>
            <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#confirmDelete">{{_('Delete')}}</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="form-group col-xl">
            <label>{{_('Available Worksheets and Prints')}}</label>
            <ul class="list-group">
            {% for c in lesson_content %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="list-group-item-action" id=list-{{c.id}} href="{{ url_for('lesson_contents.edit',id=c. id) }}">{{ c.name }}</a>
                <span class="badge badge-primary badge-pill">{{c.material.name}}</span>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
        <div class="row">
          <div class='col-md'>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{_("Add Worksheet")}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for t in content_types %}
                  <a class="dropdown-item" href="{{url_for('lesson_contents.add', lesson_id=lesson_id, content_code=t.code)}}">{{t.name}}</a>
                {% endfor %}
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</form>
  </div>
</div>


{% endblock %}
