{% extends "chrome.html" %}

{% block content %}
<div class="container-sm">
  <div class="jumbotron">
    <h1 class="display-4">今まで作成した単元</h1>
    <hr class="my-2">
    編集したい単元を選択してください。
  </div>
  <div class="list-group" role="tablist">
    {% for lesson in lessons %}
        <a class="list-group-item list-group-item-action" id=list-{{lesson.id}} href="{{ url_for('lessons.edit',id=lesson.id) }}">{{ lesson.name }}</a>
    {% endfor %}
  </div>
  <br>
  <a href="{{url_for('lessons.add')}}" class="btn btn-primary btn active" role="button" aria-pressed="true">新規作成</a>
</div>
{% endblock %}
