{% extends "chrome.html" %}

{% block content %}
<div class="container-sm">
  <div class="jumbotron">
    <h1 class="display-4">{{_('Lesson List')}}</h1>
    <hr class="my-2">
    {{_('Here are the classes and lessons you can edit. Click on a grade and then select the lesson you want to edit.')}}ください
  </div>
  {{_('Available Grades')}}<br>
  <div class="list-group list-group-horizontal-md" id="gradeList" role="tablist">
    {% for g in grades %}
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#grade-{{g}}" role="tab" style="text-align: center">{{g}}</a>
    {% endfor %}
  </div>

  <script>
    //open the first tab
    $(function () {
      $('#gradeList a:first-child').tab('show')
    })
  </script>

  <div class="tab-content">
    {% for g in grades %}
    <div class="tab-pane" id="grade-{{g}}" role="tabpanel">
      {% if lessons|selectattr('grade','==',g|int)|list|length>0 %}
        {% for l in lessons|selectattr('grade','==',g|int) %}
            <a class="list-group-item list-group-item-action" id=lesson-{{l.id}}
            href="{{ url_for('lessons.edit',id=l.id) }}">{{ l.name }}</a>
        {% endfor %}
      {% else %}
      <button class="list-group-item list-group-item-action disabled">{{_('No lessons')}}</button>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <br>
  <a href="{{url_for('lessons.add')}}" class="btn btn-primary btn active" role="button" aria-pressed="true">{{_('New Lesson...')}}</a>
</div>
{% endblock %}
