{% extends "chrome.html" %}

{% block content %}
<div class="container-sm">
  <div class="jumbotron">
    <h1 class="display-4">Test Bank</h1>
    <p class="lead">You can review and manage test here.</p>
    <hr class="my-2">
    Please select a test from the list below
  </div>
  <div class="list-group" role="tablist">
    {% for test in tests %}
        <a class="list-group-item list-group-item-action" id=list-{{test.id}} href="{{ url_for('tests.edit',id=test.id) }}">{{ test.name }}</a>
    {% endfor %}
  </div>
  <br>
  <a href="{{url_for('tests.add')}}" class="btn btn-primary btn active" role="button" aria-pressed="true">New Test...</a>
</div>
{% endblock %}
