{% extends "chrome.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Question Bank</h1>
    <p class="lead">Here you can review and manage the question bank.</p>
    <hr class="my-2">
    Please select the type of question first, then select a question from the list below
  </div>
  <div class="row">
    <div class="col-sm">
      <p>
        What type of questions would you like to see
      </p>
      <div class="list-group list-group-horizontal-sm">
        <a href="#" class="list-group-item list-group-item-action active">Reading</a>
        <a href="#" class="list-group-item list-group-item-action">Writing</a>
        <a href="#" class="list-group-item list-group-item-action">Combination</a>
      </div>
      <br>
      <a href="{{url_for('new_question')}}" class="btn btn-primary btn active" role="button" aria-pressed="true">New Question...</a>
    </div>

    <div class="col-sm">
    </div>
  </div>

</div>

{% endblock %}
