{% extends "chrome.html" %}

{% block content %}
{% block scripts %}
<script >
function preview(){
  form = document.forms['content_form']
  document.getElementById('preview').src='/lesson_contents/preview_factory/{{content_type}}/' + encodeURIComponent(form['content'].value);
}

function print_preview(){
  form = document.forms['content_form'];
  window.open('/lesson_contents/print_factory/{{content_id}}', '_blank', 'height=772,width=975,scrollbars=no');
}
</script>
{% endblock scripts %}

{% if content_id != NoneType %}
<script >
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

}
</script>
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteLabel">{{_('Are you sure')}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{_('Deleting this content can not be undone')}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_("Don't Delete")}}</button>
        <a href="{{url_for('lesson_contents.delete', id=content_id)}}" class="btn btn-danger">{{_('Delete')}}</a>
      </div>
    </div>
  </div>
</div>

{% endif %}

<div class="container-sm">
{% block head %} {% endblock head %}
{% block form %}
  <form method="POST" id="content_form">
    {{form.hidden_tag()}}
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          {{form.name.label}}
          {{form.name(class='form-control')}}
          {% if form.name.errors %}
            <ul class="errors">
              {% for error in form.name.errors %}
                <li class="alert alert-danger" style="margin: 3px">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <div class="row">
            <div class="col-sm">
              {% if form.date != None %}
              {{form.date.label}}
              {{form.date(class='form-control')}}
              {% endif %}
            </div>
            <div class="col-sm">
              {% if form.bonus != None %}
              {{form.bonus.label}}
              {{form.bonus(class='form-control')}}
              {% endif %}
            </div>
          </div>
          {% if form.scoring_comment != None %}
          {{form.scoring_comment.label}}
          {{form.scoring_comment(class='form-control')}}
          {% endif %}
        </div>
      </div>
    </div>
{% if content_id != NoneType %}
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#confirmDelete">{{_('Delete')}}</button>
      </div>
    </div>
{% endif %}
    <div class="row py-3">
      <div class="col-sm-4">
        {{form.content.label}}
        {{form.content(class='form-control',rows='13')}}
        <div class="row py-3">
          <div class="col-sm-3 float-left">
            {{form.submit(class='btn btn-primary')}}
          </div>
          <div class="col-xl-9">
            <button type="button" class="btn btn-secondary float-right" onclick="print_preview();">{{_('Preview')}}</button>
            <button type="button" class="btn btn-secondary float-right mr-2" onclick="preview();">{{_('Page Preview')}}</button>
          </div>
        </div>
      </div>
      <div class="col-xl">
        <iframe id='preview' height="600" class="preview-frame col-xl" src="{{ url_for('lesson_contents.preview_factory',content_code=content_type,content=content) }}" />
      </div>
    </div>
  </form>

{% endblock form%}
</div>
{% endblock content %}
