<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/questions.css"/>
  </head>
  <body>
    <div class='page' style='float: right'>
      <div class='header'>
        <div class='header_graphics'>
          <div style="font-size:50%">
            <div style="text-align: right; padding-bottom: 10px;">{{content.date}}</div>
            <div class='header_no_frame'>
              <div>
                {{content.name}}
              </div>
              <div style="position: relative; top: 5px;">
                なまえ (　　　　　　　　　　　　　　　　)
              </div>
            </div>
            <div class='scoring_comment'>
              {{content.scoring_comment}}
            </div>
          </div>

          <div class='header_score_box' style="position:absolute;left:760px;top:590px;width:130px;height:100px;">
            <br>
            <div class='slash'>/</div><br/>
            <span style="position: relative;top: 25px;left: 0px;float: right;font-size:14pt; font-weight:bold;">100</span>
          </div>
          {% if content.bonus_available|int != 0 %}
            <div class='header_score_box' style="position:absolute;left:622px;top:605px;width:125px;height:85px;">
              おまけ<br>
              <div class='slash' style="left:100px">/</div><br/>
              <span style="position: relative;top: 10px;left: 0px;float: right;font-size:14pt;">{{content.bonus_available}}</span>
            </div>
          {% endif %}
        </div>
        <div class='header-instructions' style="margin-right: -18px">
          <img src='/static/kanji-box.png' width="30px"/> に　かん字を　かきましょう。　[　　　　]は　かんじとひらがなで　
          (　　　　　)には　読み　を　かきましょう。
        </div>
      </div>
      <div class='content'>
        {{ lesson_content.render()|safe }}
      </div>
  </body>
