<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/questions.css"/>
  </head>
  <body>
    <div class='page' style='float: right'>
      <div class='header'>
        <div class='header_graphics'>
          <div>
            <div style="text-align: right; padding-bottom: 10px; font-size: 10pt;">
              {% if content.date==None %}
                &nbsp;
              {% else %}
                {{content.date}}
              {% endif %}
            </div>
            <div class='header_no_frame'>
              <div style="font-size:20pt; font-weight: bold;">
                {{content.name}}
              </div>
              <div style="font-size:18pt;text-align: right;margin-bottom: -10px;">
                なまえ (<img src="/static/empty.png" height="200" width="1">)
              </div>
            </div>
            {% if content.scoring_comment==None %}
            <div class='scoring_comment'>
              &nbsp;
            </div>
            {% else %}
            <div class='scoring_comment'>
              {{content.scoring_comment}}
            </div>
            {% endif %}
          </div>

          <div class='header_score_box' style="position:absolute;left:730px;top:590px;width:130px;height:100px;">
            <br>
            <div class='slash' style="position:relative;left: 45px;top: 40px;">/</div><br/>
            <span style="position: relative;top: 25px;left: 0px;float: right;font-size:14pt; font-weight:bold;">100</span>
          </div>
          {% if content.bonus_available|int != 0 %}
            <div class='header_score_box' style="position:absolute;left:592px;top:605px;width:125px;height:85px;font-size: 14pt">
              おまけ<br>
              <div class='slash' style="position:relative;left: 55px;top: 15px;">/</div><br/>
              <span style="position: relative;top: -8px;left: 0px;float: right;font-size:14pt;">{{content.bonus_available}}</span>
            </div>
          {% endif %}
        </div>
        <div class='header-test-instructions' style="margin-right: -18px">
          （　）に　読みを　かきましょう。<br> □に　かん字を、［　］には　かん字と　ひらがなを　かきましょう。
        </div>
      </div>
      <div class='content'>
        {{ lesson_content.render()|safe }}
      </div>
  </body>
