{% extends "chrome.html" %}

{% block content %}
<div class="container-sm">
  <div class="jumbotron">
    <h1 class="display-4">User List</h1>
    <hr class="my-2">
    User list and editor
  </div>
  <div class="list-group" role="tablist">
    {% for user in users %}
        <a class="list-group-item list-group-item-action" id=list-{{user.id}} href="{{ url_for('users.admin_user_edit',id=user.id) }}">{{ user.email }}</a>
    {% endfor %}
  </div>
  <br>
  <a href="{{url_for('users.add')}}" class="btn btn-primary btn active" role="button" aria-pressed="true">新規作成</a>
</div>
{% endblock %}
