<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/questions.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Kanji Test Generator</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('root.home') }}">HKTS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('root.home') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('lessons.list') }}">{{ gettext('Lessons')}}</a>
          </li>
          {% if 'A' in current_user.grades %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('users.admin_list_users') }}">{{ gettext('Accounts')}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('worksheets.list') }}">{{ gettext('Worksheets')}}</a>
          </li>
          {% endif %}

        </ul>
        <a class="nav-link" href="{{ url_for('users.profile') }}">{{ gettext('My Profile')}}</a>
      </div>
    </nav>

    <br>

    {% with messages = get_flashed_messages(with_categories=True)%}
      {% if messages %}
        <div class="container">
          {% for message in messages %}
          {% if message[0]=='message' %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
          {% else %}
            <div class="alert alert-{{ message[0] }} alert-dismissible fade show" role="alert">
          {% endif %}
            {{ message[1] }}
            <button type="button" class=" close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}

    {% endblock %}

  </body>
</html>
