{% extends "chrome.html" %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1 class="display-5">補習校漢字テスト・宿題プリント生成ソフト</h1>
    <hr class="my-4">
    <p>新規作成または、既存の単元名をクリックしてください。</p>

    <div class="list-group" role="tablist">
      {% for lesson in lessons %}
          <a class="list-group-item list-group-item-action" id=list-{{lesson.id}} href="{{ url_for('lessons.edit',id=lesson.id) }}">{{ lesson.name }}</a>
      {% endfor %}
    </div>
    <br>
    <a href="{{url_for('lessons.add')}}" class="btn btn-primary btn active" role="button" aria-pressed="true">新規作成</a>
  </div>
</div>

{% endblock %}
