{% extends "chrome.html" %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hoshuko Kanji Lesson System</h1>
    <p class="lead">Welcome to the Kanji Lesson System.</p>
    <hr class="my-4">
    <p>To get started, select a lesson to edit from the list  below, or create a new lesson using the "New Lesson..." button</p>

    <div class="list-group" role="tablist">
      {% for lesson in lessons %}
          <a class="list-group-item list-group-item-action" id=list-{{lesson.id}} href="{{ url_for('lessons.edit',id=lesson.id) }}">{{ lesson.name }}</a>
      {% endfor %}
    </div>
    <br>
    <a href="{{url_for('lessons.add')}}" class="btn btn-primary btn active" role="button" aria-pressed="true">New Lesson...</a>
  </div>
</div>

{% endblock %}
